//nesting - anidacion
nav{
    background-color: $backgroundColorNav;
    ul{
        li{
            margin-left: 5px;
            a{
                color: $mainColor;
                font-family: $mainFont;
                font-size: $textMd;
                &:hover{
                    color: $secondaryColor;
                }
            }
        }
    }
    img{
        width: 150px;
    }
}