//nesting - anidacion
.nav{
    background-color: $backgroundColorNav;
    ul{
        li{
            margin-left: 5px;
            a{
                color: $mainColor;
                font-size: $textMd;
                &:hover{
                    color: $secondaryColor
                }
            }
        }

    }
}